#folder

__pycache__/
*.py[cod]
*.so
/partOne/env/
*/env/
temp/

groundtruth/
migrations/
*/migrations/
react/
.Python
env/
build/
dist/
downloads/
htmlcov/
node_modules/
cypress/
*/log/
run/
storage_data/
upload_data/

*.sqlite3
*.avi
*.pth
*.jpg
*.mp4
*.avi
*.png
*.log

main.js
