[Unit]
Description=uWSGI instance to serve updateMe project
After=network.target

[Service]
User=ledinhtri
Group=gvlab-dat
WorkingDirectory=/home/ledinhtri/ldt_dat_thesis/DataAnnotationTool/DAT
Environment="PATH=/home/ledinhtri/ldt_dat_thesis/DataAnnotationTool/env/bin"
ExecStart=/home/ledinhtri/ldt_dat_thesis/DataAnnotationTool/env/bin/uwsgi --ini /home/ledinhtri/ldt_dat_thesis/DataAnnotationTool/new_dat_uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target