<!-- templates/registration/adminlogin.html -->
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{%block loadhead%}
{%load static%}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/login.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
{%endblock%}
{%block content%}
<div class="c-login-form">
   <div class="c-cont-form">
   <h2>From Change Password</h2>
   <div class="c-grid">
      <form method="post">
  	{% csrf_token %}
 	 {{ form }}
  	<button type="submit">Save changes</button>
	</form>
   </div>
   {% if request.session.invalid %}  
Username/password is <span style="color:rgb(236, 36, 36)">invalid</span>. Please login again!
   {% endif %}
   </div>
</div>
{%endblock%}



