<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{% block title %}{% endblock %}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <style type="text/css" media="screen">
      html, body{
         width: 100%;
         height: 100%;
      }
   </style>       
   {% block loadhead %}
   {% endblock loadhead%}
</head>
<body>
   
   {%block header%}
   {%endblock%}

   {%block content%}
   {%endblock%}

   <div id="dialog" style="display: none;"></div>
    <div style="display: none;">
      <p id="adminsite"></p>
      <p id="url_home">{% url "admin:index" %}</p>
      <p id="username">{{user.username}}</p>
      <p id="url_workspace">{% url "admin:index" %}</p>
      <p id="url_logout">{% url "logout" %}</p>
   </div>

   {%block footer%}
   {%endblock%}
</body>

{%block loadjs%} 
{% endblock loadjs %}

</html>