.c-login-form, c-cont-form{
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.c-cont-form {
   width: 350px;
   padding: 80px 60px;
   background: #f7f4f1;
   box-shadow: 0 37px 47px rgba(0, 0, 0, 0.05),
       0 17px 17px rgba(0, 0, 0, 0.03);
}

/* Set a style for all buttons */
.c-login-form button {
   background-color: #156092;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
}

.c-login-form button:hover {
   opacity: 0.8;
}

.c-login-form form {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.c-login-form input{
   padding: 5px;
   font-size: 1em;
}

