<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{% block title %}{% endblock %}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   {%load static%}
   {% block loadhead %}
   {% endblock loadhead%}
   {% block urluser %}
   {% endblock urluser %}
</head>
<body>
   <div id="navbar"></div>
   {%block content%}
   {%endblock%}
   <div style="display: none;">
      <p id="username">{{user.username}}</p>
      {%if id%}
      <p id="metaid">{{id}}</p>
      {%endif%}
   </div>
</body>
{% load static %}
<script src="{% static 'js/ui.js' %}"></script> 
{%block loadjs%} 
{% endblock loadjs %}
</html>