{% extends "usermaster/base.html" %}
{% block title %}Contribute{% endblock %}
{% block content %}
	<div id="contribute"></div>
	{% csrf_token %}
	<div id="contribute_data" style="display:none;">{"contribute":[{% for ct in data %}{"id": {{ct.id}}, "name": "{{ct.name}}","description": "{{ct.description}}", "users_count": {{ct.users_count}}, "contribute_count": {{ct.contribute_count}}, "url_upload": "{% url 'contribute_upload' contributeid=ct.id %}"},{% endfor%}{}]}</div>
<!-- 	<div id="user_contribute" style="display:none;">{"contribute":[{% for ct in user_contrib %}{"id": {{ct.id}}, "name": "{{ct.name}}","description": "{{ct.description}}", "users_count": {{ct.users_count}}, "contribute_count": {{ct.contribute_count}}, "url_upload": "{% url 'contribute_upload' contributeid=ct.id %}"},{% endfor%}{}]}</div> -->
{% endblock content%}

{%block loadjs%} 
{% load static %}
<script src="{% static 'js/build/contribute.js' %}"></script> 
{% endblock loadjs %}