{% extends "usermaster/base.html" %}
{% block title %}Contribute{% endblock %}
{% block content %}
	<div id="contribute">{% load static %}<img 
      style="display: block; margin: auto; margin-top: 5rem; width:40%; height:40%;"
      src="{% static 'images/simple-loader.gif' %}" alt=""></div>
	{% csrf_token %}
	<div id="contribute_data" style="display:none;">{"contribute_data":[{% for ct in data %}{"id": {{ct.id}}, "name": "{{ct.name}}","description": "{{ct.description}}", "users_count": {{ct.users_count}}, "contribute_count": {{ct.contribute_count}}, "url_upload": "{% url 'contribute_upload' contributeid=1 %}"},{% endfor%}{}]}</div>
	<div id="user_contribute" style="display:none;">{"user_contribute":[{% for uc in user_contrib %}{"activate": "{{uc.activate}}", "contribute_name": "{{uc.contribute_name}}","file_name": "{{uc.file_name}}", "date_upload": "{{uc.date_upload}}", "validate": "{{uc.validate}}"},{% endfor%}{}]}</div>
{% endblock content%}

{%block loadjs%} 
{% load static %}
<script src="{% static 'js/build/contribute.js' %}"></script> 
{% endblock loadjs %}