{% extends "usermaster/base.html" %}
{% block title %}Workspace{% endblock %}

{%block header%}
<div id="header"></div>
{%endblock%}

{% block content %}
	<div id="workspaces">{% load static %}<img 
      style="display: block; margin: auto; margin-top: 5rem; width:40%; height:40%;"
      src="{% static 'images/simple-loader.gif' %}" alt=""></div>
{% endblock content%}

{%block footer%}
<div id="footer"></div>
{%endblock%}

{%block loadjs%}
{% load static %}
<script src="{% static 'js/build/workspaces.js' %}"></script>
{% endblock loadjs %}