[Unit]
Description=uWSGI instance to serve DAT project
After=network.target

[Service]
User=ledinhtri
Group=gvlab-dat
WorkingDirectory=/home/ledinhtri/ledinhtri/DataAnnotationTool/DAT
Environment="PATH=/home/ledinhtri/ledinhtri/DataAnnotationTool/env/bin"
ExecStart=/home/ledinhtri/ledinhtri/DataAnnotationTool/env/bin/uwsgi --ini /home/ledinhtri/ledinhtri/DataAnnotationTool/serverconfig/prod_dat_uwsgi.ini --http :8787
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target